* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  // Text Colors
  --text-white: #fff;
  --text-grey: #bebebe;

  // Primaries Colors
  --blue-light: #00b4db;
  --blue: #0083b0;

  // Gradients
  --gradient-blue: linear-gradient(90deg, #00b4db 0%, #0083b0 100%);

  --black-light: #181818;
  --black: #0c0c0c;
}

html {
  font-family: "Oxygen", sans-serif;
  letter-spacing: 1px;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; //15px
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%; //14px
  }
}

body {
  background-color: var(--black);
  color: #fff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

a {
  color: currentColor;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  letter-spacing: normal;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  border-radius: 30px;
  font-weight: 700;
}

.primary-button {
  color: var(--text-white);
  background: var(--blue);
  transition: background 0.3s ease;

  &:hover {
    background: var(--blue-light);
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--black-light);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(var(--blue-light), var(--blue));
}

.animate__animated.animate__bounceInLeft,
.animate__animated.animate__bounceInRight {
  --animate-duration: 0.8s;
}
