#homepage {
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
}

.content {
  display: grid;
  gap: 6rem;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.navigationContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  @media (max-width: 769px) {
    height: initial;
  }
}

.navigation {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "projects projects"
    "blog resume";

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    grid-template-areas:
      "projects"
      "blog"
      "resume";
  }
}

.projects {
  grid-area: projects;
}

.blog {
  grid-area: blog;
}

.resume {
  grid-area: resume;
}

.nav__card {
  height: 100%;
  position: relative;
  border-radius: 8px;
  background-color: var(--black-light);
  padding: 32px 24px;
  border: 2px solid var(--black-light);
  transition: all 0.3s ease 0s;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &:hover {
    cursor: pointer;
    border: 2px solid var(--blue-light);
    box-shadow: 0 0 10px 1px rgba(0, 180, 219, 0.5);
  }

  &.notAllowed {
    opacity: 0.5;
    border: 2px solid var(--black-light);
    cursor: not-allowed;
    box-shadow: initial;
  }

  span {
    font-size: 0.75rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 1rem;
    font-weight: 300;
    color: var(--text-grey);
  }
}

.nav__icon {
  position: absolute;
  top: 32px;
  right: 24px;

  img {
    width: 32px;
    height: 32px;
    color: #fff;
  }
}

.content__navigation {
  @media (max-width: 769px) {
    display: none;
  }
}

.content__navigation,
.content__description {
  h3 {
    color: transparent;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    background: -webkit-linear-gradient(left, var(--blue-light), var(--blue));
    background: -o-linear-gradient(left, var(--blue-light), var(--blue));
    background: -moz-linear-gradient(left, var(--blue-light), var(--blue));
    background: linear-gradient(to left, var(--blue-light), var(--blue));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.content__description {
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1rem;
    line-height: 140%;
    color: var(--text-white);

    + p {
      margin-top: 2rem;
      color: var(--text-grey);
    }
  }

  a {
    color: #0083b0;
    text-decoration: underline dotted;
    text-underline-position: under;
    transition: all 0.3s;

    &:hover {
      color: #00b4db;
    }
  }
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: 2rem;

  div {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.content__socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  margin-top: 4rem;

  a {
    padding: 0.5rem 0;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .socials__profile {
    border-radius: 50%;
    overflow: hidden;
    width: 4rem;
    height: 4rem;
  }

  .socials__icons {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-start;
    align-items: center;

    > div {
      width: 16px;
      height: 16px;
    }
  }

  .socials__icons img {
    fill: #fff;
  }
}

@media (max-width: 426px) {
  .content__socials {
    justify-content: space-between;
    gap: 1rem;
  }

  .socials__icons {
    flex-direction: column;
    align-items: center;
  }
}